{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="currPassword" placeholder="Current Password" type="password" autofocus required>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="newPassword" placeholder="New Password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="confPassword" placeholder="New Password (again)" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}