{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    {% if rows %}
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Symbol</th>
                    <th>Action</th>
                    <th>Shares</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.symbol }}</td>
                        <td>{{ row.action }}</td>
                        <td>{{ row.shares }}</td>
                        <td>{{ row.price | usd }}</td>
                        <td>{{ row.total | usd }}</td>
                        <td>{{ row.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}